html,
body {
  background-color: #272a2e;
  margin: 0;
  color: #d9dde4; }

a {
  text-decoration: none; }

.header {
  display: flex;
  padding: 10px 0;
  background-color: #414750;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 2px #161616; }
  .header .header-inner {
    display: flex;
    background-color: #414750;
    align-items: center;
    max-width: 850px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px; }
  .header .header-link {
    display: flex; }
  .header .header-navigation {
    display: flex; }
    .header .header-navigation .active a {
      border-bottom: 2px solid #f66d10; }
    .header .header-navigation li {
      list-style-type: none;
      margin-left: 10px;
      font-size: 18px; }
      .header .header-navigation li a {
        padding: 2px 0;
        color: #d9dde4; }
        .header .header-navigation li a:hover {
          border-bottom: 2px dotted #f66d10; }
  .header img {
    width: 50px;
    height: 50px;
    padding-right: 20px; }
  .header h1 {
    color: #d9dde4;
    margin: 0; }

.main-content {
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.page-header-text {
  color: #d9dde4; }

.text-block {
  max-width: 800px;
  padding: 25px 25px;
  margin: 20px 0px;
  background-color: #414750;
  box-shadow: 3px 3px 2px #161616;
  border-radius: 4px; }
  .text-block h1,
  .text-block h2,
  .text-block h3,
  .text-block h4,
  .text-block h5 {
    color: #f66d10; }
  .text-block a {
    color: #f66d10;
    text-decoration: underline; }
  .text-block .centered-content {
    display: flex;
    align-items: center;
    justify-content: center; }

.site-link {
  text-decoration: none;
  max-width: 850px;
  width: 100%; }

.site-card {
  display: flex;
  max-width: 800px;
  flex: 1;
  background-color: #414750;
  box-shadow: 3px 3px 2px #161616;
  padding: 25px 25px;
  margin: 20px 0px;
  border-radius: 4px;
  transition: background-color 0.2s; }
  .site-card:hover {
    background-color: #555c68; }

.site-image {
  min-width: 200px;
  padding-right: 15px; }
  .site-image img {
    width: 200px;
    height: auto; }

.site-content {
  color: #d9dde4;
  flex: 1; }
  .site-content h2 {
    margin: 0;
    margin-bottom: 10px; }
  .site-content p {
    margin: 0; }

@media only screen and (max-width: 700px) {
  .main-content {
    margin-top: 120px; }

  .site-card {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .site-image {
    padding-right: 0;
    padding-bottom: 15px; }
    .site-image img {
      width: auto;
      height: auto;
      max-height: 200px;
      max-width: 100%; }

  .header .header-inner {
    display: flex;
    flex-direction: column; }
  .header .header-navigation {
    padding: 0px; }
    .header .header-navigation li {
      margin: 0 5px; } }

/*# sourceMappingURL=style.css.map */
