html,
body {
    background-color: #272a2e;
    margin: 0;
    color: rgb(217, 221, 228);
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    padding: 10px 0;
    background-color: #414750;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 2px #161616;

    .header-inner {
        display: flex;
        background-color: #414750;
        align-items: center;
        max-width: 850px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .header-link {
        display: flex;
    }

    .header-navigation {
        display: flex;

        .active a {
            border-bottom: 2px solid #f66d10;
        }

        li {
            list-style-type: none;
            margin-left: 10px;
            font-size: 18px;
            a {
                padding: 2px 0;
                color: rgb(217, 221, 228);
                &:hover {
                    border-bottom: 2px dotted #f66d10;
                }
            }
        }
    }

    img {
        width: 50px;
        height: 50px;
        padding-right: 20px;
    }

    h1 {
        color: rgb(217, 221, 228);
        margin: 0;
    }
}

.main-content {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header-text {
    color: rgb(217, 221, 228);
}

.text-block {
    max-width: 800px;
    padding: 25px 25px;
    margin: 20px 0px;
    background-color: #414750;
    box-shadow: 3px 3px 2px #161616;
    border-radius: 4px;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #f66d10;
    }

    a {
        color: #f66d10;
        text-decoration: underline;
    }

    .centered-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.site-link {
    text-decoration: none;
    max-width: 850px;
    width: 100%;
}

.site-card {
    display: flex;
    max-width: 800px;
    flex: 1;
    background-color: #414750;
    box-shadow: 3px 3px 2px #161616;
    padding: 25px 25px;
    margin: 20px 0px;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #555c68;
    }
}

.site-image {
    min-width: 200px;
    padding-right: 15px;

    img {
        width: 200px;
        height: auto;
    }
}

.site-content {
    color: rgb(217, 221, 228);
    flex: 1;

    h2 {
        margin: 0;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    .main-content {
        margin-top: 120px;
    }

    .site-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .site-image {
        padding-right: 0;
        padding-bottom: 15px;

        img {
            width: auto;
            height: auto;
            max-height: 200px;
            max-width: 100%;
        }
    }

    .header {
        .header-inner {
            display: flex;
            flex-direction: column;
        }

        .header-navigation {
            padding: 0px;

            li {
                margin: 0 5px;
            }
        }
    }
}
